<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Traversal Travel Category Bootstrap Responsive Template | Home :: W3layouts</title>
    <!-- google fonts -->

    <link
            href="https://fonts.googleapis.com/css?family=Nunito:400,600,700,800&display=swap"
            rel="stylesheet"
    />
    <link href="//fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700&display=swap" rel="stylesheet">
    <link href="//fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,400&display=swap"
          rel="stylesheet">
    <!-- google fonts -->
    <!-- Template CSS -->
    <link rel="stylesheet" href="/assets/css/style-starter.css"  >
    <link rel="stylesheet" href="/assets/css/feedback.css" >
    <!-- Template CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/MaterialDesign-Webfont/5.3.45/css/materialdesignicons.css" integrity="sha256-NAxhqDvtY0l4xn+YVa6WjAcmd94NNfttjNsDmNatFVc=" crossorigin="anonymous" />
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prefixfree/1.0.7/prefixfree.min.js"></script>

</head>
<body>
<div>
    <header id="site-header" class="fixed-top" th:include="contains/header">
    </header>
    <!--Header END-->
    <div layout:fragment="content"></div>



    <!-- Footer Begin-->
    <footer th:include="contains/footer">
        <!-- footer -->

        <!-- //footer -->
    </footer>
</div>



<!--END FOOTER-->
<script src="/assets/js/jquery-3.3.1.min.js"></script>
<script src="/assets/js/theme-change.js"></script>
<script src="/assets/js/jquery.min.js"></script>
<script src="/assets/js/modernizr-2.6.2.min.js"></script>
<script src="/assets/js/jquery.zoomslider.min.js"></script>
<!--//slider-js-->
<script src="/assets/js/owl.carousel.js"></script>
<!-- stats number counter-->
<script src="/assets/js/jquery.waypoints.min.js"></script>
<script src="/assets/js/jquery.countup.js"></script>
<script>
    $('.counter').countUp();
</script>
<!-- //stats number counter -->
<!--/MENU-JS-->
<script>
    $(window).on("scroll", function () {
        var scroll = $(window).scrollTop();

        if (scroll >= 80) {
            $("#site-header").addClass("nav-fixed");
        } else {
            $("#site-header").removeClass("nav-fixed");
        }
    });

    //Main navigation Active Class Add Remove
    $(".navbar-toggler").on("click", function () {
        $("header").toggleClass("active");
    });
    $(document).on("ready", function () {
        if ($(window).width() > 991) {
            $("header").removeClass("active");
        }
        $(window).on("resize", function () {
            if ($(window).width() > 991) {
                $("header").removeClass("active");
            }
        });
    });
</script>
<!--//MENU-JS-->

<script src="/assets/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/assets/js/mdb.umd.min.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function(){
        $('.nav-link').click(function(){
            var tabId = $(this).attr('href');
            $('.tab-pane').removeClass('show active');
            $(tabId).addClass('show active');
            $('.nav-link').removeClass('active');
            $(this).addClass('active');
        });
    });

    $(document).ready(function() {
        // Lấy element input và button
        var input = $('#quantityInput');
        var decreaseButton = $('#decreaseButton');
        var increaseButton = $('#increaseButton');

        // Thêm sự kiện click cho button giảm
        decreaseButton.click(function() {
            // Lấy giá trị hiện tại của input
            var currentValue = parseInt(input.val());
            // Giảm giá trị nếu giá trị hiện tại lớn hơn 1
            if (currentValue > 1) {
                input.val(currentValue - 1);
            }
        });

        // Thêm sự kiện click cho button tăng
        increaseButton.click(function() {
            // Lấy giá trị hiện tại của input
            var currentValue = parseInt(input.val());
            // Tăng giá trị
            input.val(currentValue + 1);
        });
    });

    document.getElementById('quantityInput').addEventListener('input', function(event) {
        // Lấy giá trị hiện tại của trường input
        let value = event.target.value;

        // Xóa bất kỳ ký tự nào không phải là số từ giá trị nhập vào
        value = value.replace(/[^0-9]/g, '');

        // Đặt lại giá trị của trường input
        event.target.value = value;
    });
</script>
</body>
</html>