<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Login/Register</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" type="text/css"
          th:href="@{assets/css/login-style.css}" />
    <link
      href="https://fonts.googleapis.com/css?family=Nunito:400,600,700,800&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
  </head>
  <body>
    <a href="index.html" class="back-btn"
      ><i class="fa fa-chevron-left"></i>Back</a
    >
    <!-- form login-->
    <div class="cont" style="width: 700px;">
      <div class="form sign-in" style="width: auto; padding-top: 150px;">
        <h2>Forgot Password</h2>
        <label>
          <span>Email Address</span>
          <input type="email" name="email" />
        </label>
        <button class="submit" type="button" onclick="redirectToLogin()">
          Send Validation Code
        </button>
        <a class="forgot-pass" href="/home" style="display: block; text-align: center;">Return to Login</a>
      </div>
    <script>
      document.querySelector(".img-btn").addEventListener("click", function () {
        document.querySelector(".cont").classList.toggle("s-signup");
      });
    </script>
    <script
      src="https://kit.fontawesome.com/5b6dba2bf9.js"
      crossorigin="anonymous"
    ></script>
    <script>
      function redirectToLogin() {
        window.location.href = "login.html"; 
      }
    </script>
  </body>
</html>
