<!DOCTYPE html>
<html lang="en"  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org" layout:decorate="~{layouts/index.html}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div layout:fragment="content">
        <section class="w3l-about-breadcrumb text-left">
            <div class="breadcrumb-bg breadcrumb-bg-about py-sm-5 py-4">
                <div class="container">
                    <h2 class="title">Tours </h2>
                    <ul class="breadcrumbs-custom-path mt-2">
                        <li><a th:href="@{index}">Home</a></li>
                        <li class="active"><span class="fa fa-arrow-right mx-2" aria-hidden="true"></span> Tours </li>
                    </ul>
                </div>
            </div>
        </section>
        <!-- //about breadcrumb -->
        <!--  Work gallery section -->
        <section class="grids-1 py-5">
            <div class="grids py-lg-5 py-md-4" style="display: grid;  grid-template-columns: 320px auto;
  grid-template-rows: auto;">
                <div class="card" style="margin-left: 30px;">
                    <article class="filter-group">
                        <header class="card-header">
                            <a href="#" data-toggle="collapse" data-target="#collapse_1" aria-expanded="true" class="" style="display: flex; flex-direction: row;">
                                <i class="icon-control fa fa-chevron-down"></i>
                                <h6 class="title">When are you travelling?</h6>
                            </a>
                        </header>
                        <div class="filter-content collapse show" id="collapse_1" style="">
                            <div class="card-body">
                                <div class="form-input col-md-4 mt-md-0 mt-3" style="display: flex; flex-direction: row; align-items: center; margin-bottom: 10px; ">
                                    <h6 class="" style="margin-right: 10px;">From:</h6>
                                    <input type="date" class="form-control" name="" placeholder="Date" required="" style="width: 150px;">
                                </div>

                                <div class="form-input col-md-4 mt-md-0 mt-3" style="display: flex; flex-direction: row; align-items: center;">
                                    <h6 class="" style="margin-right: 31px;">To:</h6>
                                    <input type="date" class="form-control" name="" placeholder="Date" required="" style="width: 150px;">
                                </div>

                            </div> <!-- card-body.// -->
                        </div>
                    </article>

                    <article class="filter-group">
                        <header class="card-header">
                            <a href="#" data-toggle="collapse" data-target="#collapse_2" aria-expanded="true" class="" style="display: flex; flex-direction: row;">
                                <i class="icon-control fa fa-chevron-down"></i>
                                <h6 class="title">Tours Type </h6>
                            </a>
                        </header>
                        <div class="filter-content collapse show" id="collapse_2" style="">
                            <div class="card-body">
                                <label class="custom-control custom-checkbox">
                                    <input type="checkbox" checked="" class="custom-control-input">
                                    <div class="custom-control-label">Natural Tours
                                        <b class="badge badge-pill badge-light float-right">120</b>  </div>
                                </label>
                                <label class="custom-control custom-checkbox">
                                    <input type="checkbox" checked="" class="custom-control-input">
                                    <div class="custom-control-label">Adventure Tours
                                        <b class="badge badge-pill badge-light float-right">15</b>  </div>
                                </label>
                                <label class="custom-control custom-checkbox">
                                    <input type="checkbox" checked="" class="custom-control-input">
                                    <div class="custom-control-label">Cultural Tours
                                        <b class="badge badge-pill badge-light float-right">35</b> </div>
                                </label>
                                <label class="custom-control custom-checkbox">
                                    <input type="checkbox" checked="" class="custom-control-input">
                                    <div class="custom-control-label">Food Tours
                                        <b class="badge badge-pill badge-light float-right">89</b> </div>
                                </label>
                                <label class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input">
                                    <div class="custom-control-label">City Tours
                                        <b class="badge badge-pill badge-light float-right">30</b>  </div>
                                </label>
                                <label class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input">
                                    <div class="custom-control-label">Cruises Tours
                                        <b class="badge badge-pill badge-light float-right">20</b>  </div>
                                </label>
                            </div> <!-- card-body.// -->
                        </div>
                    </article> <!-- filter-group .// -->
                    <article class="filter-group">
                        <header class="card-header">
                            <a href="#" data-toggle="collapse" data-target="#collapse_2" aria-expanded="true" class="" style="display: flex; flex-direction: row;">
                                <i class="icon-control fa fa-chevron-down"></i>
                                <h6 class="title">Tour Duration </h6>
                            </a>
                        </header>
                        <div class="filter-content collapse show" id="collapse_2" style="">
                            <div class="card-body">
                                <label class="custom-control custom-checkbox">
                                    <input type="checkbox" checked="" class="custom-control-input">
                                    <div class="custom-control-label">1 - 2 days
                                        <b class="badge badge-pill badge-light float-right">120</b>  </div>
                                </label>
                                <label class="custom-control custom-checkbox">
                                    <input type="checkbox" checked="" class="custom-control-input">
                                    <div class="custom-control-label">3 - 4 days
                                        <b class="badge badge-pill badge-light float-right">15</b>  </div>
                                </label>
                                <label class="custom-control custom-checkbox">
                                    <input type="checkbox"  class="custom-control-input">
                                    <div class="custom-control-label">5 - 6 days
                                        <b class="badge badge-pill badge-light float-right">35</b> </div>
                                </label>
                                <label class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input">
                                    <div class="custom-control-label">1 weeks
                                        <b class="badge badge-pill badge-light float-right">89</b> </div>
                                </label>
                                <label class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input">
                                    <div class="custom-control-label">2 weeks or above
                                        <b class="badge badge-pill badge-light float-right">30</b>  </div>
                                </label>
                            </div> <!-- card-body.// -->
                        </div>
                    </article> <!-- filter-group .// -->
                    <article class="filter-group">
                        <header class="card-header">
                            <a href="#" data-toggle="collapse" data-target="#collapse_2" aria-expanded="true" class="" style="display: flex; flex-direction: row;">
                                <i class="icon-control fa fa-chevron-down"></i>
                                <h6 class="title">Tour Specialty </h6>
                            </a>
                        </header>
                        <div class="filter-content collapse show" id="collapse_2" style="">
                            <div class="card-body">
                                <label class="custom-control custom-checkbox">
                                    <input type="checkbox" checked="" class="custom-control-input">
                                    <div class="custom-control-label">Deals & Discounts
                                        <b class="badge badge-pill badge-light float-right">120</b>  </div>
                                </label>
                                <label class="custom-control custom-checkbox">
                                    <input type="checkbox" checked="" class="custom-control-input">
                                    <div class="custom-control-label">Free Cancellation
                                        <b class="badge badge-pill badge-light float-right">15</b>  </div>
                                </label>
                                <label class="custom-control custom-checkbox">
                                    <input type="checkbox"  class="custom-control-input">
                                    <div class="custom-control-label">Likely to Sell Out
                                        <b class="badge badge-pill badge-light float-right">35</b> </div>
                                </label>
                                <label class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input">
                                    <div class="custom-control-label">Skip-The-Line
                                        <b class="badge badge-pill badge-light float-right">89</b> </div>
                                </label>
                                <label class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input">
                                    <div class="custom-control-label">Private Tour
                                        <b class="badge badge-pill badge-light float-right">30</b>  </div>
                                </label>
                            </div> <!-- card-body.// -->
                        </div>
                    </article> <!-- filter-group .// -->
                    <article class="filter-group">
                        <header class="card-header">
                            <a href="#" data-toggle="collapse" data-target="#collapse_3" aria-expanded="true" class="" style="display: flex; flex-direction: row;">
                                <i class="icon-control fa fa-chevron-down"></i>
                                <h6 class="title">Price range </h6>
                            </a>
                        </header>
                        <div class="filter-content collapse show" id="collapse_3" style="">
                            <div class="card-body">
                                <input type="range" class="custom-range" min="0" max="100" name="">
                                <div class="form-row">
                                    <div class="form-group col-md-6">
                                        <label>Min</label>
                                        <input class="form-control" placeholder="$0" type="number">
                                    </div>
                                    <div class="form-group text-right col-md-6">
                                        <label>Max</label>
                                        <input class="form-control" placeholder="$1,0000" type="number">
                                    </div>
                                </div> <!-- form-row.// -->
                                <button class="btn btn-block btn-primary">Apply</button>
                            </div><!-- card-body.// -->
                        </div>
                    </article> <!-- filter-group .// -->

                </div> <!-- card.// -->

                <div class="container">
                    <h3 class="hny-title mb-5">List of Tours</h3>
                    <!--<div class="row" th:each="tour : ${tours}">-->
                    <div class="row" style="display: flex; flex-direction: row; flex-wrap: no-wrap; max-width: 100%">
                        <!--                <div class="col-lg-4 col-md-4 col-6" >-->
                        <div class="column" th:each="tour : ${tours}"  style="margin-left: 20px; max-width: 350px;">
                            <a th:href="@{tourDetail/{id}(id=${tour.idTour})}"><img width="400px" height="300px"  th:src="@{${tour.imageUrl}}" alt="" class="img-fluid"></a>
                            <div class="info">
                                <!--<h4><a href="tourDetail.html">Paris</a></h4>-->
                                <h4><a th:text="${tour.tourName}" th:href="@{tourDetail/{id}(id=${tour.idTour})}"></a></h4>
                                <p>3Days, 4 Nights</p>
                                <div class="dst-btm">
                                    <h6 class="">Start From </h6>
                                    <span>$1750</span>
                                </div>
                            </div>
                        </div>
                        <!--                </div>-->
                    </div>
                </div>

            </div></section>
    </div>
</body>
</html>